
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.youchai.rnpush">

  <permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />
  <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />

  <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.GET_TASKS"/>

  <application>

    <!-- mipush -->
    <service
        android:enabled="true"
        android:process=":pushservice"
        android:name="com.xiaomi.push.service.XMPushService"/>
    <service
        android:name="com.xiaomi.push.service.XMJobService"
        android:enabled="true"
        android:exported="false"
        android:permission="android.permission.BIND_JOB_SERVICE"
        android:process=":pushservice" />
    <!--注：此 service 必须在 3.0.1 版本以后（包括 3.0.1 版本）加入-->
    <service
        android:enabled="true"
        android:exported="true"
        android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />
    <service android:enabled="true"
             android:name="com.xiaomi.mipush.sdk.MessageHandleService" />
    <!--注：此 service 必须在 2.2.5 版本以后（包括 2.2.5 版本）加入-->
    <receiver
        android:exported="true"
        android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>
    <receiver
        android:exported="false"
        android:process=":pushservice"
        android:name="com.xiaomi.push.service.receivers.PingReceiver" >
      <intent-filter>
        <action android:name="com.xiaomi.push.PING_TIMER" />
      </intent-filter>
    </receiver>

    <receiver
        android:exported="true"
        android:name="me.youchai.rnpush.mipush.MiPushReceiver">
      <intent-filter>
        <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
      </intent-filter>
      <intent-filter>
        <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
      </intent-filter>
      <intent-filter>
        <action android:name="com.xiaomi.mipush.ERROR" />
      </intent-filter>
    </receiver>


    <!-- jpush -->
    <!-- Required SDK 核心功能-->
    <activity
        android:name="cn.jpush.android.ui.PushActivity"
        android:configChanges="orientation|keyboardHidden"
        android:theme="@android:style/Theme.NoTitleBar"
        android:exported="false">
      <intent-filter>
        <action android:name="cn.jpush.android.ui.PushActivity" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="${applicationId}" />
      </intent-filter>
    </activity>

    <!-- Rich push 核心功能 since 2.0.6-->
    <activity
        android:name="cn.jpush.android.ui.PopWinActivity"
        android:theme="@style/MyDialogStyle"
        android:exported="false">
    </activity>

    <!-- Required SDK 核心功能-->
    <service
        android:name="cn.jpush.android.service.DownloadService"
        android:enabled="true"
        android:exported="false" >
    </service>

    <!-- Required SDK 核心功能 since 1.8.0 -->
    <service
        android:name="cn.jpush.android.service.DaemonService"
        android:enabled="true"
        android:exported="true">
      <intent-filter >
        <action android:name="cn.jpush.android.intent.DaemonService" />
        <category android:name="${applicationId}"/>
      </intent-filter>
    </service>

    <!-- User defined. 用户自定义的广播接收器-->
    <receiver
        android:name="me.youchai.rnpush.jpush.JPushReceiver"
        android:enabled="true">
      <intent-filter>
        <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required 用户注册 SDK 的 intent-->
        <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required 用户接收 SDK 消息的 intent-->
        <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required 用户接收 SDK 通知栏信息的 intent-->
        <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required 用户打开自定义通知栏的 intent-->
        <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受 Rich Push Javascript 回调函数的 intent-->
        <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
        <category android:name="${applicationId}" />
      </intent-filter>
    </receiver>

    <!-- Huawei -->
<!--    <activity-->
<!--        android:name="com.huawei.hms.activity.BridgeActivity"-->
<!--        android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"-->
<!--        android:excludeFromRecents="true"-->
<!--        android:exported="false"-->
<!--        android:hardwareAccelerated="true"-->
<!--        android:theme="@android:style/Theme.Translucent" >-->
<!--      <meta-data-->
<!--          android:name="hwc-theme"-->
<!--          android:value="androidhwext:style/Theme.Emui.Translucent" />-->
<!--    </activity>-->
<!--    <receiver android:name=".huawei.HuaweiPushReceiver" >-->
<!--      <intent-filter>-->
<!--        &lt;!&ndash; 必须,用于接收 TOKEN &ndash;&gt;-->
<!--        <action android:name="com.huawei.android.push.intent.REGISTRATION" />-->
<!--        &lt;!&ndash; 必须，用于接收消息 &ndash;&gt;-->
<!--        <action android:name="com.huawei.android.push.intent.RECEIVE" />-->
<!--        &lt;!&ndash; 可选，用于点击通知栏或通知栏上的按钮后触发 onEvent 回调 &ndash;&gt;-->
<!--        <action android:name="com.huawei.android.push.intent.CLICK" />-->
<!--        &lt;!&ndash; 可选，查看 PUSH 通道是否连接，不查看则不需要 &ndash;&gt;-->
<!--        <action android:name="com.huawei.intent.action.PUSH_STATE" />-->
<!--      </intent-filter>-->
<!--    </receiver>-->
<!--    <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver" >-->
<!--      <intent-filter>-->
<!--        &lt;!&ndash; 接收通道发来的通知栏消息，兼容老版本 PUSH &ndash;&gt;-->
<!--        <action android:name="com.huawei.intent.action.PUSH" />-->
<!--      </intent-filter>-->
<!--    </receiver>-->

  </application>

</manifest>
